.App{
    background-image: url(../../public/img/bg-orderTicket.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.Chair{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffb100;
    background-color: beige;
    border-radius: 6px ;
    &:hover{
        cursor: pointer;
        background-color: black;
        color: white;
        transition: all .3s ease-in-out;
    }
    
    &.booking{
        background-color: red;
        color: white;
        border: transparent;

    }

    &.booked{
        background-color: gray;
        color: white;
        border: transparent;
        // tắt tất cả các sự kiện 
        pointer-events: none;
    }

    &.disabled{
        border: transparent;
        background-color: transparent;
        pointer-events: none;
        color: yellow;
    }
}

